﻿body {
    background-color: #FCFCFC;
}

h2 {
    color: #0087F7;
}

h4 {
    color: #969696;
}

.mainDiv {
    margin-top: 10px;
    background-color: #EEEEEE;
}

.tbAmount {
    max-width: 200px;
}
